@font-face {
    font-family: "method";
    src: local("method"), url(~assets/method/MethodMono-Regular.woff) format("woff");}

html {
    font-family: "method";
    font-size: 1rem;
    line-height: 1.3rem;
}

html, body {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 992px) {
    .gauche {
        width: 40%;
    }

    .droite {
        width: 60%;
    }
}

@media screen and (max-width: 992px) {
    .container {
        flex-direction: column;
    }

    .gauche {
        width: 100%;
    }

    .droite {
        width: 100%;
    }
}

.container {
    display: flex;
    color: #0400DD;
    height: 100vh;
    
}


.gauche {
    background-color: white ;
    /* width: 40%; */
    padding-left: 20px;
}

.gauche p {
    width: 90%;
}

.gauche a {
    color: #009e3a;
}


.droite {
    background-color: #00D14E;
    /* width: 60%; */
    /* padding-left: 20px; */
    display: flex;
    flex-direction: column;
}

.droite a {
    color: #0400DD;
}

.news {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-left: 20px;
    color: azure;
    background-color: #0400DD;
}

.news p {
    width: 90%;
}

.resident {
    padding-left: 20px;
}


